{% extends 'base.html' %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Employee Directory</h1>
          <p class="lead">Centralized location with information on the employees you rely on</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Technicians</li>
        </ol>
      </nav>
    </div>
  </section>

 <!-- Team -->
 <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <br />
      <div class="row text-center">
        {% if techs %}
        {% for tech in techs %}
        <div class="col-md-4">
            <img src="{{ tech.photo.url }}" alt="" class="mb-3">
            <h4>{{ tech.first_name }} {{ tech.last_name }}</h4>
            <p class="text-success">
              {{ tech.position }}</p>
              <br>
              <p>{{ tech.description }}</p>
            <hr>
            <p>
              <i class="fas fa-phone"></i> {{ tech.phone }}</p>
            <p>
              <i class="fas fa-envelope-open"></i> {{ tech.email }}</p>
          </div>
        {% endfor %}

        {% else %}
        <div class="col-md-12">
            <p>No team members available.</p>
        </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="work" class="bg-dark text-white text-center">
    <h1 class="display-4">Employee Management Simplified</h1>
    <br>
    <h3>Update your work force details in the admin console.</h3>
    <h4>( Scheduling coming soon! )</h4>
  </section>


{% endblock %}