 {% extends 'base.html' %}

 {% block content %}

 <section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{article.title}}</h1>
        <p class="lead">
           {{article.type}}</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'article' %}">Articles</a>
        </li>
        <li class="breadcrumb-item active">{{article.title}}</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listing -->
<section id="listing" class="py-4">
  <div class="container">
    <a href="{% url 'article' %}" class="btn btn-light mb-4">Back to Articles</a>
    <div class="row">
      <div class="col-md-9">
        <!-- Home Main Image -->
        <img src="{{ article.photo_1.url }}" alt="" class="img-main img-fluid mb-3">
        <!-- Thumbnails -->
        <div class="row mb-5 thumbs">
          <div class="col-md-2">
            <a href="{{ article.photo_1.url }}" data-lightbox="home-images">
              <img src="{{ article.photo_1.url }}" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-2">
            <a href="{{ article.photo_2.url }}" data-lightbox="home-images">
              <img src="{{ article.photo_2.url }}" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-2">
            <a href="assets/img/homes/home-inside-3.jpg" data-lightbox="home-images">
              <img src="assets/img/homes/home-inside-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-2">
            <a href="assets/img/homes/home-inside-4.jpg" data-lightbox="home-images">
              <img src="assets/img/homes/home-inside-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-2">
            <a href="assets/img/homes/home-inside-5.jpg" data-lightbox="home-images">
              <img src="assets/img/homes/home-inside-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-2">
            <a href="assets/img/homes/home-inside-6.jpg" data-lightbox="home-images">
              <img src="assets/img/homes/home-inside-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-primary">
                 Title:
                <span class="float-right">{{article.title}}</span>
              </li>
              <li class="list-group-item text-primary">
                 Created by:
                <span class="float-right">{{article.tech.first_name}} {{article.tech.last_name}}</span>
              </li>
              <li class="list-group-item text-primary">
                 Purchased on:
                <span class="float-right">{{article.purchase_date}}</span>
              </li>
              <li class="list-group-item text-primary">
                 Serial:
                <span class="float-right">{{article.serial}}
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-primary">
                 Type:
                <span class="float-right">{{article.type}}</span>
              </li>
              <li class="list-group-item text-primary">
                Created on:
                <span class="float-right"> {{article.create_date}}
                </span>
              </li>
              <li class="list-group-item text-primary">
                 Expires on:
                <span class="float-right">{{article.expire_date}}</span>
              </li>
              


            </ul>
          </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
          <div class="col-md-12 text-primary">
            {{article.description}}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{{ article.tech.photo.url }}" alt="Seller of the month">
          <div class="card-body">
            <h5 class="card-title">{{article.tech.first_name}} {{article.tech.last_name}}</h5>
            <h6 class="text-secondary">{{article.tech.position}}</h6>
            <hr>
            <p class="text-primary">
              <i class="fas fa-phone"></i> {{ article.tech.phone }}</p>
            <p class="text-primary">
              <i class="fas fa-envelope-open"></i> {{ article.tech.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}